*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
    display: block;
    margin: 0 auto;
  }

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    border: 1px solid black;
    align-items: center;
    background-color:rgb(45, 6, 71);
    /* background-color:rgb(68, 23, 82); */

}
.logo {
   width: 100px;
   cursor: pointer;
   border-radius: 90px;
}


.nav-items>ul {
    color:rgb(26, 2, 34);
    font-size: 24px;
    display: flex; 
    list-style-type: none;
}
.nav-items>ul>li {
    cursor: pointer;
   padding: 10px;
   margin: 10px;
}
.search{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    gap: 10px;
}

.search input {
    min-width: 250px;
    padding: 10px;
  }
  
  .search input:focus {
    outline: 0;
  }
  
  .search button {
    padding: 10px 15px;
    cursor: pointer;
  }

  .res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin: 0 40px;
    overflow-x: hidden;

}
.res-card{
    border-radius: 30px;
    background-color:rgb(139, 70, 185);
    width: 200px;
    padding: 10px;
    border: 1px solid transparent;
    max-width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

.res-card:hover{
    border: 1px solid black;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.res-logo{
    width: 100%; 
    border-radius: 30px;
}

.body{
     background-color:rgb(217, 119, 250); 
     /* background-color:rgb(252, 249, 80);  */
}

.filter{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    gap: 10px;
}
.filter-btn  {
    padding: 10px 15px;
    cursor: pointer;
    height: 60px;
   
  }

  .shimmer-container{
    display: flex;
    flex-wrap: wrap;
  }

  .shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #aaa0a0;
  }

  .login{ 
    padding: 0 20px;
    cursor: pointer;
  }

  .user-card{
    padding: 20px;
    border: 2px solid black ;
  }